{% block pre-header%}
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sistema di controllo impianti</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  <div class="navbar navbar-expand-md bg-dark navbar-dark text-white">
    <h3 class>
      Sistema di controllo impianti
    </h3>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <div class="btn-group form-inline">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Autenticato come {{user.username}}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>

          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>


  </div>
  {% block body %} {% endblock %}
</body>

</html>
