{%extends "base.html" %} {% block body%}
<div class="row">
    {% if installations_count %}
    {% for i in installations %}
    <div class="col-lg px-5 py-4">
        <div class="card shadow-lg p-3 border-dark text-left ml-3 mr-3">
            <div class="card-body" id="{{i.imei}}">
                <h3 class="card-title">Impianto #{{i.id}}
                    <div style="display: inline" id="box_online">
                        {% if i.online %}
                        <span class="text-success">ONLINE</span>
                        {% else %}
                        <span class="text-danger">OFFLINE</span>
                        {% endif %}
                    </div>
                </h3>
                <p class="card-text">
                <table class="table table-borderless table-striped">
                    <tr>
                        <td>CPx Code:</td>
                        <td><b>{{i.installation_code}}</b></td>
                    </tr>
                    <tr>
                        <td>IMEI:</td>
                        <td><b>{{i.imei}}</b></td>
                    </tr>
                    <tr>
                        <td>Pressione in ingresso:</td>
                        <td>
                            <div class="box_inlet_pressure">
                                <b>{{i.inlet_pressure}} Bar</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Temperatura in ingresso:</td>
                        <td>
                            <div class="box_inlet_temperature">
                                <b>{{i.inlet_temperature}} °C</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Pressione in uscita:</td>
                        <td>
                            <div class="box_outlet_pressure">
                                <b>{{i.outlet_pressure}} Bar</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tempo funzionamento totale:</td>
                        <td><b>{{i.working_hours_counter}}h{{i.working_minutes_counter}}m</b></td>
                    </tr>
                    <tr>
                        <td>Anti sgocciolamento:</td>
                        <td>
                            <b>
                                <div class="box_anti_drip">
                                {% if i.anti_drip %}
                                <span class="text-success">ON</span>
                                {% else %}
                                <span class="text-danger">OFF</span>
                                {% endif %}
                                </div>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Limite TL:</td>
                        <td>
                            <b>
                                <div id="tl_service_form" class="hidden">
                                    <input type="text" id="tl_service_code" placeholder="Codice di sblocco">
                                    <button type="button" class="btn btn-primary tl service_send"
                                            value="{{i.imei}}">
                                        Invia
                                    </button>
                                </div>
                                {% if i.tl_service %}
                                <div id="tl_service_text">
                                    <span class="text-danger">RAGGIUNTO</span>
                                    {% if perms.app.can_see_advanced_info %}
                                    <button type="button" class="btn btn-primary reset_button">
                                        Reset
                                    </button>
                                    {% endif %}
                                </div>
                                {% else %}
                                <span class="text-success">NON RAGGIUNTO</span>
                                {% endif %}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Limite BK:</td>
                        <td>
                            <b>
                                <div id="bk_service_form" class="hidden">
                                    <input type="text" id="bk_service_code" placeholder="Codice di sblocco">
                                    <button type="button" class="btn btn-primary bk service_send"
                                            value="{{i.imei}}">
                                        Invia
                                    </button>
                                </div>
                                {% if i.bk_service %}
                                <div id="bk_service_text">
                                    <span class="text-danger">RAGGIUNTO</span>
                                    {% if perms.app.can_see_advanced_info %}
                                    <button type="button" class="btn btn-primary reset_button">
                                        Reset
                                    </button>
                                    {% endif %}
                                </div>
                                {% else %}
                                <span class="text-success">NON RAGGIUNTO</span>
                                {% endif %}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Limite RB:</td>
                        <td>
                            <b>
                                <div id="rb_service_form" class="hidden">
                                    <input type="text" id="rb_service_code" placeholder="Codice di sblocco">
                                    <button type="button" class="btn btn-primary rb service_send"
                                            value="{{i.imei}}">
                                        Invia
                                    </button>
                                </div>
                                {% if i.rb_service %}
                                <div id="rb_service_text">
                                    <span class="text-danger">RAGGIUNTO</span>
                                    {% if perms.app.can_see_advanced_info %}
                                        <button type="button" class="btn btn-primary reset_button">
                                            Reset
                                        </button>
                                    {% endif %}
                                </div>
                                {% else %}
                                <span class="text-success">NON RAGGIUNTO</span>
                                {% endif %}
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>ID nodi in allarme:</td>
                        <td>
                            <b>
                               <div class="box_alarms">
                               {% for key, value in alarms_strings.items %}
                                    {% if key == i.id %}
                                        {% if value == "NESSUNO" %}
                                        <span class="text-success">NESSUNO</span>
                                        {% else %}
                                        <span class="text-danger">{{value}}</span>
                                        {% endif %}
                                    {% endif %}
                               {% endfor %}
                               </div>
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td>Stato:</td>
                        <td>
                            <b>
                                <div class="box_state">
                                    {% if i.run %}
                                    <span class="text-success">IN FUNZIONE</span></a>
                                    {% else %}
                                    <span class="text-danger">FERMO</span>
                                    {% endif %}
                                </div>
                            </b>
                        </td>
                    </tr>
                    {% if perms.app.can_see_advanced_info %}
                    <tr>
                        <td>Start code:</td>
                        <td><b>{{i.start_code}}</b></td>
                    </tr>
                    {% endif %}
                </table>
                {% if i.run %}
                    <button class="btn btn-danger btn-block stopb" value="{{i.imei}}" type="submit">
                        STOP
                    </button>
                {% else %}
                    <button class="btn btn-success btn-block runb" value="{{i.imei}}" type="submit">
                        RUN
                    </button>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-lg px-5 py-4">
        <div class="card shadow-lg p-3 border-dark text-left ml-3 mr-3">
            <div class="card-body">
                <p class="card-text"><b>Nessun impianto configurato</b></p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% load static %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script>
    $('.runb').click(function(){
    var imei;
    imei = $(this).val();
    $(this).prop("disabled", true);
    $.ajax(
    {
        type:"POST",
        url: "installations/toggle",
        data:{
             'imei': imei,
             'command': 'run',
             'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function( data )
        {
            console.log(data)
        }
    }).done(function(){
        $(this).prop("disabled", false);
    });
});

$('.stopb').click(function(){
    var imei;
    imei = $(this).val();
    $(this).prop("disabled", true);
    $.ajax(
    {
        type:"POST",
        url: "installations/toggle",
        data:{
             'imei': imei,
             'command': 'stop',
             'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function( data )
        {

        }
    }).done(function(){
        $(this).prop("disabled", false);
    });
});

$('.service_send').click(function(){
    var imei = $(this).val();
    var code = $(this).siblings()[0].val();
    $(this).siblings()[0].val("");
    console.log(code);
    var classes = $(this).prop("classList");
    var field_type = "";
    ìf classes.indexOf(" tl ") != -1
        field_type = "tl";
    else if classes.indexOf(" bk ") != -1
        field_type = "bk"
    else if classes.indexOf(" rb ") != -1
        field_type = "rb"
    $(this).prop("disabled", true);
    $.ajax(
    {
        type:"POST",
        url: "installations/reset_time_limit",
        data:{
             'imei': imei,
             'code': code,
             'field_type': type,
             'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function( data )
        {

        }
    }).done(function(){
        $(this).prop("disabled", false);
    });
});
</script>
{% endblock %}
